#-------------------------------------------------------------------------------
#  Project:
#-------------------------------------------------------------------------------

resources/

#-------------------------------------------------------------------------------
#  WebStorm:
#-------------------------------------------------------------------------------

.idea/
.buildlog
build/

#-------------------------------------------------------------------------------
#  Dart:
#-------------------------------------------------------------------------------

pubspec.lock
packages/

#-- EOF ------------------------------------------------------------------------